.grid {
    display: grid;
    grid-template-columns: 330px 330px;
    width: 660px;
    grid-column-gap: 90px;
}

.name {
    width: 330px;
}

.cal {
    width: 100%;
}

.grid_space {
    height: 20px;
    grid-column: 1/-1;
}

.col_merge {
    grid-column: 1/-1;
}

.textarea {
    width: 100%;
}


.btn_layout {
    grid-column: 1/-1;
    text-align: right;
    height: 35px;
}
